extends layout

block content
  h1= title
  form(action='/category/new', method='POST')
    div.form-group
      label(for='name') Name
      input#name.form-control(type='text', name='name')
    div.form-group
      label(for='description') Description
      input#description.form-control(type='text', name='description')
    button.btn.btn-primary(type='submit') Submit
