extends layout

block content
  h1= title
  form(action="/items/new", method="post")
    label(for="name") Name:
    input(type="text", name="name", id="name", required)
    br
    label(for="description") Description:
    input(type="text", name="description", id="description", required)
    br
    label(for="category") Category:
    select(name="category", id="category", required)
        each category in categories
            option(value=category)= category
    br
    label(for="price") Price:
    input(type="number", name="price", id="price", required)
    br
    label(for="quantity") Stock:
    input(type="number", name="quantity", id="quantity", required)
    br
    label(for="imageurl") Image:
    input(type="url", name="imageurl", id="imageurl")
    br
    input(type="submit", value="Submit")
