extends layout

block content
  h1= title
  p Welcome to #{title} this category detail and edit page
  form(method='POST' action='/category/edit/' + category._id)
    div.form-group
      label(for='name') Name
      input#name.form-control(type='text', name='name', value=category.name)
    div.form-group
      label(for='description') Description
      input#description.form-control(type='text', name='description', value=category.description)
    button.btn.btn-primary(type='submit') Submit
  form(method='POST', action='/category/delete/' + category._id)
    button.btn.btn-danger(type='submit') Delete